/* shared styles */
* {
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  border: none;
  padding: 20px 25px;
  color: white;
  font-size: 1rem;
  font-weight: 600px;
  cursor: pointer;
  margin-bottom: 30px;
}
/* nav related styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
  margin-bottom: 70px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-left: 30px;
}
nav a {
  text-decoration: none;
}
.nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.nav-list {
  color: #424242;
  font-size: 1.2rem;
  font-weight: 500px;
}

/* banner related styles */
.banner-content {
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-text {
  font-weight: 400;
  color: #727272;
}
.banner img {
  width: 100%;
}

/* main styles */
main {
  padding: 0 100px;
}
/* team related styles */
.team-container {
  display: flex;
  align-items: center;
}
.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-content {
  margin-left: 70px;
}
.quick {
  color: #727272;
  font-size: 3rem;
  font-weight: 500;
}
.of-our {
  color: var(--Dark-01, #131313);
  font-size: 3rem;
  font-weight: 700;
}
.text-features {
  color: #ff900e;
  font-size: 3rem;
  font-weight: 700;
}

/* facts related styles */
.facts-title {
  color: var(--Dark-01, #131313);
  font-size: 3rem;
  font-weight: 700;
}
.facts-text {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}
.fact-card-container {
  display: flex;
  justify-content: space-around;
}
.card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 20px 30px;
}
.card-stats {
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-title {
  color: #727272;
  font-size: 1rem;
  font-weight: 600;
}

/* sponsors related styles */

.sponsor-title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.sponsor-text {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
.sponsors-icon {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  align-items: center;
  gap: 30px;
}
.sponsors-icon img {
  width: 166.757px;
  height: 50px;
}
/* responsive media query */
/* for small/mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 10px;
  }
  nav,
  .team-container,
  .fact-card-container,
  .sponsors-icon {
    flex-direction: column;
  }
  .team-img {
    grid-template-columns: 1fr;
  }
  .team-content {
    margin: 5px;
    padding: 5px;
  }
  .fact-card-container {
    gap: 20px;
  }
  main {
    padding: 0 10px;
  }
}

/* for medium devices /tablet */
@media screen and (min-width: 576px), (max-width: 960px) {
  header {
    padding: 50px;
  }
}
